.ipynb_checkpoints/test-checkpoint.ipynb
__pycache__/action_fusion_bpe.cpython-38.pyc
__pycache__/action_norm_tensor.cpython-38.pyc
__pycache__/Matrice.cpython-38.pyc
__pycache__/Sl_matrice.cpython-38.pyc
__pycache__/Snt.cpython-38.pyc
__pycache__/Utils_concat.cpython-38.pyc
__pycache__/Utils_data.cpython-38.pyc
__pycache__/Utils.cpython-38.pyc
__pycache__
marco_script/list_filename_matrice/k3_src_data_on_perso.lst
Classes/Matricev2.py
marco_script/match-nmt2parcorfull2.ipynb
marco_script/Classes/__init__.py
marco_script/Classes/coreference.py
marco_script/Classes/CorpusSentence.py
marco_script/test.ipynb
test.json
output_debug.txt
Output/
Tests/disco_src_data.json
git*
Output/debug.results
Test.ipynb
Test.xml
marco_script/Untitled-1.ipynb
