.ipynb_checkpoints/test-checkpoint.ipynb
__pycache__/action_fusion_bpe.cpython-38.pyc
__pycache__/action_norm_tensor.cpython-38.pyc
__pycache__/Matrice.cpython-38.pyc
__pycache__/Sl_matrice.cpython-38.pyc
__pycache__/Snt.cpython-38.pyc
__pycache__/Utils_concat.cpython-38.pyc
__pycache__/Utils_data.cpython-38.pyc
__pycache__/Utils.cpython-38.pyc
__pycache__
marco_script/data
marco_script/list_filename_matrice/k3_src_data_on_perso.lst
